<h1 id="title" mat-dialog-title>Bienvenu sur PDS</h1>
<mat-dialog-content>
  <p id="text">Entrez votre numéro enqueteur !</p>
  <mat-form-field appearance="fill">
    <mat-label>Numéro Enqueteur</mat-label>
    <input matInput type="number" maxlength="3" placeholder="Numéro Enqueteur" [(ngModel)]="num_enq" #enq>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" [disabled]="!num_enq || enq.value.length != 3" [mat-dialog-close]="num_enq" >Valider</button>
</mat-dialog-actions>

