<!-- Toolbar -->
<p>
  <mat-toolbar color="primary">
    <mat-icon fontIcon="nightlight"></mat-icon>
    <span> Point Du Soir </span>
    <span class="spacer"></span>
    <span id="date"> du {{today | date:'fullDate' }} </span>
    <span class="spacer"></span>
    <span>Numéro Enqueteur : {{num_enq}}</span>
  </mat-toolbar>
</p>

<div class="content" role="main">

  <!-- Resources -->
  <mat-card id="realise">
    <div class="head">
      <div class="text">
        <mat-card-title>Mes Enquetes Réalisées :</mat-card-title>
        <mat-card-subtitle>Clique sur le bouton pour ajouter une enquetes que tu as effectué.</mat-card-subtitle>
      </div>
      <div class="btn">
        <button mat-raised-button color="primary" (click)="addEnq()">
          <div class="text_btn">
            <mat-icon fontIcon="add_circle_outline"></mat-icon>
            Ajouter
          </div>
        </button>

      </div>
    </div>
    <mat-divider></mat-divider>
    <mat-card-content class="all_card">
      <ng-container *ngFor="let enq of enqList ; let i = index">
        <mat-card class="card">
          <div class="card_text">
            <div class="index">#{{i + 1}}</div>
            Enquete effectué secteur
            <mat-chip-list aria-label="Secteur">
              <mat-chip color="accent"> {{enq.sct_enq}}</mat-chip>
            </mat-chip-list>
          </div>
          <div class="card_btn">
            <button mat-raised-button color="warn" (click)="delEnq(i)">
              <div class="text_btn">
                <mat-icon fontIcon="remove_circle_outline"></mat-icon>
                Supprimer
              </div>
            </button>
          </div>
        </mat-card>
      </ng-container>
    </mat-card-content>
  </mat-card>

  <mat-card id="rdv">
    <div class="head">
      <div class="text">
        <mat-card-title>Mes RDV Pris :</mat-card-title>
        <mat-card-subtitle>Clique sur le bouton pour ajouter un RDV que tu as pris.</mat-card-subtitle>
      </div>
      <div class="btn">
        <button mat-raised-button color="primary" (click)="addRdv()">
          <div class="text_btn">
            <mat-icon fontIcon="add_circle_outline"></mat-icon>
            Ajouter
          </div>
        </button>
      </div>
    </div>
    <mat-divider></mat-divider>
    <mat-card-content class="all_card">
      <ng-container *ngFor="let rdv of rdvList ; let i = index">
        <mat-card class="card">
          <div class="card_text">
            <div class="index">#{{i + 1}}</div>
            RDV pris secteur
            <mat-chip-list aria-label="Secteur">
              <mat-chip color="accent">{{rdv.sct_rdv}}</mat-chip>
            </mat-chip-list>
            le
            <mat-chip-list aria-label="Date">
              <mat-chip color="accent">{{rdv.date_rdv}}</mat-chip>
            </mat-chip-list>
          </div>
          <div class="card_btn">
            <button mat-raised-button color="warn" (click)="delRdv(i)">
              <div class="text_btn">
                <mat-icon fontIcon="remove_circle_outline"></mat-icon>
                Supprimer
              </div>
            </button>
          </div>
        </mat-card>
      </ng-container>
    </mat-card-content>
  </mat-card>

  <button id="submit" mat-raised-button color="primary">
    <div class="text_btn">Valider votre PDS, belle soirée
      <mat-icon fontIcon="nightlight"></mat-icon>
    </div>
  </button>

</div>

