
.footer{
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: x-small;
}

#footer-icon{
  color: red;
  transform: scale(0.7);
  vertical-align:bottom;
}

#footer-href{
  color: white;
}
