<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<p>
  <mat-toolbar color="primary">
    <mat-icon fontIcon="nightlight"></mat-icon>
    <span> Point Du Soir </span>
    <span class="spacer"></span>
    <span> du Mardi 29 Novembre </span>
    <span class="spacer"></span>
    <span>Numéro Enqueteur : {{num_enq}}</span>
  </mat-toolbar>
</p>

<div class="content" role="main">

  <!-- Resources -->
  <mat-card id="realise">
    <div class="head">
      <div class="text">
        <mat-card-title>Mes Enquetes Réalisées :</mat-card-title>
        <mat-card-subtitle>Clique sur le bouton pour ajouter une enquetes que tu as effectué.</mat-card-subtitle>
      </div>
      <div class="btn">
        <button mat-raised-button color="primary" (click)="addEnq()">
          <div class="text_btn">
            <mat-icon fontIcon="add_circle_outline"></mat-icon>
            Ajouter
          </div>
        </button>

      </div>
    </div>
    <mat-divider></mat-divider>
    <mat-card-content class="all_card">
      <mat-card class="card">
        <div class="card_text">Enquete effectué secteur
          <mat-chip-list aria-label="Secteur">
            <mat-chip color="accent"> 119</mat-chip>
          </mat-chip-list>
        </div>
        <div class="card_btn">
          <button mat-raised-button color="warn">
            <div class="text_btn">
              <mat-icon fontIcon="remove_circle_outline"></mat-icon>
              Supprimer
            </div>
          </button>
        </div>
      </mat-card>
    </mat-card-content>
  </mat-card>

  <mat-card id="rdv">
    <div class="head">
      <div class="text">
        <mat-card-title>Mes RDV Pris :</mat-card-title>
        <mat-card-subtitle>Clique sur le bouton pour ajouter un RDV que tu as pris.</mat-card-subtitle>
      </div>
      <div class="btn">
        <button mat-raised-button color="primary" (click)="addRdv()">
          <div class="text_btn">
            <mat-icon fontIcon="add_circle_outline"></mat-icon>
            Ajouter
          </div>
        </button>
      </div>
    </div>
    <mat-divider></mat-divider>
    <mat-card-content class="all_card">
      <mat-card class="card">
        <div class="card_text">RDV pris secteur
          <mat-chip-list aria-label="Secteur">
            <mat-chip color="accent">119</mat-chip>
          </mat-chip-list>
          le
          <mat-chip-list aria-label="Date">
            <mat-chip color="accent">28/10</mat-chip>
          </mat-chip-list>
        </div>
        <div class="card_btn">
          <button mat-raised-button color="warn">
            <div class="text_btn">
              <mat-icon fontIcon="remove_circle_outline"></mat-icon>
              Supprimer
            </div>
          </button>
        </div>
      </mat-card>
    </mat-card-content>
  </mat-card>

  <button id="submit" mat-raised-button color="primary">
    <div class="text_btn">Valider votre PDS, belle soirée
      <mat-icon fontIcon="nightlight"></mat-icon>
    </div>
  </button>

</div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

