<!-- Toolbar -->
<p>
  <mat-toolbar color="primary">
    <mat-icon class="icon" fontIcon="nightlight"></mat-icon>
    <span> Point Du Soir Administration</span>
  </mat-toolbar>
</p>

<div class="content" role="main">

  <!-- Resources -->
  <mat-card class="card">
    <div class="head">
      <div class="text">
        <mat-card-title>Statistique :</mat-card-title>
        <mat-card-subtitle>Retrouver ici les statistiques de la semaine.</mat-card-subtitle>
      </div>
    </div>
    <mat-divider></mat-divider>

    <mat-card-content>
      <br>

      Enquete du Jour: {{nbrEnqD}}
      <br>
      Enquete de la semaine: {{nbrEnqW}}

    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <div class="head">
      <div class="text">
        <mat-card-title>Extraction Point Du Soir :</mat-card-title>
        <mat-card-subtitle>Extraire le PDS souhaité en selectionnant la date puis un click sur telecharger.</mat-card-subtitle>
      </div>
    </div>
    <mat-divider></mat-divider>

    <mat-card-content>
      <br>

      Extraire le Point Du Soir de la semaine {{W}} :
      <button mat-raised-button color="primary" (click)="extract(W)"><mat-icon class="icon" fontIcon="file_download"></mat-icon>Telecharger</button>

    </mat-card-content>
  </mat-card>
</div>
