<!-- Toolbar -->
<p>
  <mat-toolbar color="primary">
    <mat-icon class="icon" fontIcon="nightlight"></mat-icon>
    <span> Point Du Soir Administration</span>
  </mat-toolbar>
</p>

<div class="content" role="main">

  <!-- Resources -->
  <mat-card id="realise">
    <div class="head">
      <div class="text">
        <mat-card-title>Extraction Point Du Soir :</mat-card-title>
        <mat-card-subtitle>Extraire le PDS souhaité en selectionnant la date puis un click sur telecharger.</mat-card-subtitle>
      </div>
    </div>
    <mat-divider></mat-divider>

    <mat-card-content>

      Point Du Soir par jour:
      <mat-form-field appearance="fill">
        <mat-label>Choisir la date</mat-label>
        <input matInput  [matDatepickerFilter]="myFilter" [max]="maxDate" [matDatepicker]="picker" [(ngModel)]="extract_date">
        <mat-hint>JJ/MM/AAAA</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!extract_date" (click)="extract(extract_date)"><mat-icon class="icon" fontIcon="file_download"></mat-icon>Telecharger</button>

    </mat-card-content>
  </mat-card>

</div>
