
<h1 id="title" mat-dialog-title>Ajouter Enquete</h1>
<p id="text">Entrez le secteur d'enquete et le nombre d'enquete faite !</p>
<mat-dialog-content>

  <mat-form-field id="sct_enq" appearance="fill">
    <mat-label>Secteur</mat-label>
    <input matInput type="number" maxlength="3" placeholder="Secteur" [(ngModel)]="data.sct_enq" #sct>
  </mat-form-field>
  <a id="divider">X</a>
  <mat-form-field id="nbr_enq" appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput type="number" maxlength="1" placeholder="Nombre" [(ngModel)]="data.nbr_enq" #enq>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-button (click)="onNoClick()" >Annuler</button>
  <button id="submit" mat-raised-button color="primary" [disabled]="!data.sct_enq || !data.nbr_enq || data.nbr_enq == 0 || sct.value.length != 3" [mat-dialog-close]="data" >Valider</button>
</mat-dialog-actions>
