
<h1 id="title" mat-dialog-title>Ajouter Enquete</h1>
<mat-dialog-content>
  <p id="text">Entrez le secteur de l'enquete !</p>
  <mat-form-field appearance="fill">
    <mat-label>Secteur Enquete</mat-label>
    <input matInput type="number" maxlength="3" placeholder="Secteur Enquete" [(ngModel)]="sct_enq" #sct>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-button (click)="onNoClick()" >Annuler</button>
  <button id="submit" mat-raised-button color="primary" [disabled]="!sct_enq || sct.value.length != 3" [mat-dialog-close]="sct_enq" >Valider</button>
</mat-dialog-actions>
